/* Utility Classes */

.left {
    float: left;
}

.right {
    float: right
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.hidden {
    display: none;
}

.grid-container {
  display: grid;
  grid-gap: 1em;
  justify-content: center;
}

.grid-container .c4 {
  grid-template-columns: auto auto auto;
}