<svg clip-rule="evenodd" fill-rule="evenodd" version="1.1" viewBox="0 0 1091.6556 1092.0001" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <defs><style type="text/css">
                        .fil0 {fill:#FEFEFE}
                        .fil1 {fill:black}
                      </style></defs>
  <g transform="translate(370.32 1366.1)"><g transform="translate(-370.94 -1366.1)"><circle class="fil0" cx="544" cy="546" r="536" fill="#fefefe"/><path class="fil1" d="m546 0c302 0 546 245 546 546 0 302-245 546-546 546-302 0-546-245-546-546 0-302 245-546 546-546zm-81 333v-197c0-9 3-16 9-22s14-9 22-9h103c9 0 16 3 22 9s9 14 9 22v197c0 9-3 16-9 22s-14 9-23 9h-103c-9 0-16-3-23-9-6-6-9-14-9-22zm134-1v-195h-101v195zm-96 598h51v-195h-50c-5 0-8-2-12-5-3-3-5-7-5-12s2-8 5-12c3-3 7-5 12-5h83v228h33v-69c0-4 2-8 5-12 3-3 7-5 12-5s8 2 12 5c3 3 5 7 5 12v85c0 5-2 9-5 12s-7 5-12 5h-133c-5 0-8-2-12-5-3-3-5-7-5-12 0-4 2-8 5-11s7-5 12-5zm38-902h-8c-282 4-510 235-510 518 0 284 228 514 511 518-140-4-252-118-252-259 0-143 116-259 259-259s259-116 259-259-116-259-259-259z"/></g></g>
                </svg>
<div class="title discreet">{{ config.site.title }}</div>
