<p class="title discreet">CoderDojo Deutschland e.V.</p>
<nav class="nav-horizontal">
    <ul>
        <li><a href="/impressum">Impressum</a></li>
        <li><a href="/datenschutz">Datenschutz</a></li>
        <li><a href="/verhaltenskodex">Verhaltenskodex</a></li>
    </ul>
</nav>
