{% if sponsors|length > 0 %}
<section>
    <header><h2>CoderDojo Deutschland e.V. wird unterstützt von…</h2></header>
    <div data-sponsor-slider data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "autoplay": true}'>
    {% for key, sponsor in sponsors %}
        <a href="{{sponsor.url}}" target="_blank" rel="noopener nofollow"><img src="{{ sponsor.image }}" alt="{{sponsor.label}} logo" /></a>
    {% endfor %}
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function(){
        $('[data-sponsor-slider]').slick();
    });
</script>
{% endif %}
